body {
  background: linear-gradient(to right, #a8d8e8, #e0f7fa);
  overflow: hidden;
  overflow-x: hidden;
  height: 100vh;
  font-size: 0.9rem;
  padding-bottom: 150px;
}
@media (max-width: 576px) {
  body {
    font-size: 0.9rem;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 200px;
  }
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1rem;
  }
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
  line-height: 1.2;
}
h5 {
  font-size: 0.9rem;
  line-height: 1.2;
}
p {
  font-size: 0.9rem;
  line-height: 1.3;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.navbar {
  z-index: 9999;
}
.card-img-top {
  height: 180px;
  object-fit: cover;
}
.contact-form {
  background-color: #ffffff;
  border: 1px solid #ddd;
}
input,
textarea {
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem;
}
.form-label {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}
.section-container {
  padding-top: 0rem;
  padding-bottom: 8rem;
  margin-bottom: 2rem;
}
@media (max-width: 576px) {
  .section-container {
    padding-bottom: 10rem;
    margin-bottom: 3rem;
  }
}
h2.section-title {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
.divider {
  height: 2px;
  width: 50px;
  background-color: #333;
  margin: 0.3rem auto 1rem auto;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
